{{!-- Layout for Events (Student View) --}}
<section id="orgs" class="container">
  <h1>Events</h1>
  {{#each posts}}
  <form action="/students/posts" method="POST">
    <div class = "org">
      <h2> <input type="checkbox" name="postId" value="{{id}}"> Title: {{title}}</h2>  
      <p> Host: {{host}}</p>
      <p>Organization: {{org}}</p>
      <p>Date of Event: {{ date }}</p>
      <p>Start: {{ start }}</p>
      <p>End: {{ end }}</p>
      <p>Description: {{description}}</p>
      <ul>
        <li>Hours Received: {{hoursReceived}}</li>
      </ul>
          <button> <input type="submit" value="Attend Event"> </button> <button><a href="/students/view/{{id}}" class="a" >  View </a>  </button> </button>  <button> Share </button>  
    </div>
  {{/each}}
  </form>
</section>