<section>
    <h1>Events Attending</h1>
    {{#each p}}
    <form action="/students/viewEvents" method="POST">
    <div class = "org">
      <h2>Title: {{title}}</h2>  
      <p> Host: {{host}}</p>
      <p>Organization: {{org}}</p>
      <p>Date of Event: {{ date}}</p>
      <p>Start: {{ start }}</p>
      <p>End: {{ end }}</p>
      <p>Description: {{description}}</p>
      <ul>
        <li>Hours Received: {{hoursReceived}}</li>
      </ul>
      <button><a href="/students/removeEvent/{{id}}" class="a" > Remove Event </a></button>
    </div>
    {{/each}}
    </form>
</section>